<% include ../partials/header %>   
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Sobre a série: <%= serie.name%></h2>
            <form method="POST">
                <div class="form-group">
                    <textarea value="<%= serie.name %>" name="comentario" class="form-control"></textarea>
                </div>                   
                <button class="btn btn-default">Adicionar comentário</button>
            </form> 
          </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-lg-8 mx-auto">
                <% serie.comments.forEach(comment => { %> 
                    <div class="card"><%= comment %></div>    
                <% }) %>
            </div>    
        </div>
      </div>
    </section>
<% include ../partials/footer %>